<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<title>Page Title</title>
<link rel="stylesheet" href="css/main_style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Best choice</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="index.html">Uni</a></li>
                <li class="active"><a href="course.html">Course</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
    <div id="app">
        <div class="container">

            <h1>Course</h1>
            <form method="post" class="input_form">
                <div class="form-group" v-for="a in skills">
                    Skills: <input class="gpa_input" type="text" name="skills" required />
                    <button v-on:click="add" class="btn btn-primary">+</button>
                </div>

                <div class="form-group">
                    Course: <select class="gpa_input" name="course" required v-model="course">
                    <option value="Data Mining">Data Mining</option>
                    <option value="Algorithms">Algorithms</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" v-on:click="submit">Submit</button>
            </form>
            <div>
                {{message}}
            </div>
        </div>
    </div>
</body>

</html>



<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var myObject = new Vue({
        el: '#app',
        data: { message: '', skills: 1, course: "" },
        methods: {
            submit: function (event) {
                event.preventDefault()
                if (this.course === "Data Mining")
                    score = 70
                else
                    score = 80
                this.message = "processing..."
                setTimeout(() => {
                    this.message = score + "% for " + this.course + ""
                }, 1000)
            },
            add: function (event) {
                event.preventDefault()
                if (this.skills < 5) {
                    this.skills += 1;
                }
            },
            onInput: function (event) {

            }
        }
    })
</script>